.btn-home {
    cursor: pointer;
}

a.play-video-youtube {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.1px;
    color: #1E2022;
    margin-left: 32px;
}

a.play-video-youtube img {
    margin-right: 14px;
}

section.view-video-youtube.about span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0DBEC9;
}

.cta-about h3 {
    font-style: normal;
    font-weight: 700 !important;
    font-size: 52px !important;
    line-height: 60px !important;
    letter-spacing: -0.833333px !important;
    color: #FFFFFF !important;
    margin-bottom: 0 !important;
}

.cta-about span {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.0833333px;
    color: #FFFFFF;
}

.info-tnxm span {
    text-transform: uppercase;
    color: var(--color-prim2) !important;
}
.cta-about h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
}

.about-sm-tn {
    padding: 64px 0;
}

.about-sm-tn h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
}

.about-gtcl .item {
    border: 1px solid #6f70743d;
    border-radius: 16px;
    padding: 32px;
    min-height: 380px;
}

.about-gtcl .item h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #000000;
    margin-top: 32px;
}

section.about-shar-egeneral-manager svg {
    width: 300px;
    margin-right: 16px;
}

.about-shar-egeneral-manager .share {
    padding: 56px;
}

.about-shar-egeneral-manager h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 1px;
    color: #142D71;
    margin-bottom: 0;
}

.about-shar-egeneral-manager .share p {
    color: #565656;
}

.about-shar-egeneral-manager .share span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #142D71;
}

.about-my-service .item h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.675px;
    color: #222222;
}

.about-my-service .item img {
    border-radius: 10px;
    width: 100%;
}

.about-my-service .item p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.6px;
    color: #303336;
    margin-top: 16px;
}

.about-my-service .bg {
    height: 320px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about-my-service {
    position: relative;
    padding: 64px 0;
}

.about-my-service .item {
    background: #FFFFFF;
    border-radius: 16px;
    min-height: 390px;
    padding: 16px;
}

@media (max-width: 767px) {
    .about-shar-egeneral-manager .share {
        padding: 16px;
        width: 100%;
    }

    section.view-video-youtube a {
        font-size: 16px;
    }

    .info-tnxm {
        text-align: center;
        margin-top: 32px;
    }

    .cta-about {
        margin-top: 32px !important;
    }

    section.about-sm-tn {
        background: linear-gradient(301.82deg, rgba(20, 189, 226, 0.1) 5.61%, rgba(115, 152, 247, 0) 30.85%), linear-gradient(110.33deg, #DBEEFF -2.52%, rgba(246, 254, 254, 0.973543) 104.09%, rgba(231, 254, 250, 0.97) 133.69%) !important;
    }

    .about-sm-tn, .about-gtcl .item {
        padding: 32px 24px;
    }

    .about-sm-tn h3 {
        font-size: 24px;
    }

    .about-gtcl .item {
        min-height: auto;
    }

    .about-gtcl .item {
        margin-bottom: 24px;
    }

    section.about-shar-egeneral-manager svg {
        width: auto;
        margin-bottom: 10px;
    }

    .d-mobile-block {
        display: block !important;
    }

    section.about-shar-egeneral-manager {
        margin-top: 0;
    }

    .info-user-manager {
        display: flex;
    }

    .info-user-manager img {
        margin-right: 10px;
    }

    .info-user-manager h3 {
        font-size: 24px !important;
    }

    .mySwiperServiceAbout {
        padding-bottom: 84px;
    }

    .about-my-service {
        padding: 0;
    }

    section.contact-home .swiper-button-next, .swiper-button-prev {
        display: flex;
        left: 10px;
    }

    .mySwiperServiceAbout .swiper-button-next {
        left: 65px;
    }

    .mySwiperServiceAbout .swiper-button-next,
    .mySwiperServiceAbout .swiper-rtl .swiper-button-prev,
    .mySwiperServiceAbout .swiper-button-prev {
        border: 2px solid #142D71;
    }

    .mySwiperServiceAbout .swiper-button-next:after,
    .mySwiperServiceAbout .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after,
    .mySwiperServiceAbout .swiper-rtl .swiper-button-next:after {
        color: #142D71;
    }

    .about-my-service a.view-all {
        z-index: 22;
        padding-bottom: 20px;
        text-align: left;
    }

    section.service img {
        margin-bottom: 24px;
    }
}
