/* @font-face {
    font-family: 'Proxima Nova';
    font-weight: 100;
    font-display: swap;
    src: local(''),
    url('/font/ProximaNova-Light.ttf')
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 200;
    font-display: swap;
    src: local(''),
    url('/font/ProximaNova-LightIt.ttf')
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 300;
    font-display: swap;
    src: local(''),
    url('/font/ProximaNova-Regular.ttf')
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-display: swap;
    src: local(''),
    url('/font/ProximaNova-Regular.ttf')
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-display: swap;
    src: local(''),
    url('/font/ProximaNova-Semibold.ttf')
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-display: swap;
    src: local(''),
    url('/font/ProximaNova-Semibold.ttf')
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-display: swap;
    src: local(''),
    url('/font/ProximaNova-Semibold.ttf')
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 800;
    font-display: swap;
    src: local(''),
    url('/font/ProximaNova-Semibold.ttf')
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 800;
    font-display: swap;
    src: local(''),
    url('/font/ProximaNova-Semibold.ttf')
} */
