section.register-email {
    padding: 50px 0;
    font-size: 21px;
    color: #ffff;
    margin: 0;
  }
  
  section.register-email form {
    display: flex;
  }
  
  section.register-email input {
    height: 50px;
    margin-right: 10px;
  }
  
  section.register-email form button {
    padding: 0 48px;
    background: #737576;
    border: none;
  }
  
  section.register-email form button:hover {
    background: gray;
  }
  
  footer nav ul li a {
    text-transform: uppercase;
    color: #ffff !important;
    margin-left: 44px;
  }

  footer {
    background: var(--color-and-background);
  }

  footer .left {
    margin: auto;
    max-width: 300px;
  }

  footer .left ul li {
    color: #ffff;
    display: flex;
    align-items: center;
  }

  footer .info ul li {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .icons a i {
    background: #282727;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    border-radius: 38px;
    font-size: 13px;
}

footer .left a i {
    color: #ffff;
    background: #75797c;
    margin-right: 22px;
}

footer .icons {
    margin: 18px 0;
}

footer .info {
    border-top: 1px solid #dcdcdc4d;
}

footer .info ul li i {
    margin-right: 16px;
}

footer .info p {
    color: #ffff !important;
    font-size: 21px;
    margin: 22px 0;
}

@media (max-width: 767px) {
  section.register-email {
    padding: 25px 0;
    font-size: 16px;
  }

  section.register-email input {
    height: 35px;
    margin-top: 10px;
  }

  section.register-email form button {
    padding: 0 30px;
  }
}