header {
    background: var(--color-and-background);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
  .top {
    background: var(--background-top);
    padding: 16px;
  }
  
  .top a, header ul li a {
    color: #ffff !important;
    padding-left: 20px;
    font-size: 16px;
  }
  
  header ul li a {
    font-size: 18px;
    text-transform: uppercase;
  }
  
  header ul li a.active {
    color: #a3c7e3 !important;
  }
  
  header nav i {
    font-size: 18px !important;
    color: #ffff;
  }
  
  .top i {
    margin-right: 14px;
  }

 header button.navbar-toggler.collapsed, header button:focus:not(:focus-visible) {
    border: none !important;
    box-shadow: none;
  }

  @media (max-width: 767px) {
    img.logo {
      height: 40px;
    }
  }