@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .order-1 {
        order: 1;
    }

    .d-none {
        display: none !important;
    }

      .about .description img {
        width: 100%;
      }
    
      .about .description {
        margin-bottom: 30px;
      }
    
      a.blog.news.d-flex {
        display: block !important;
      }
    
      a.blog.news.d-flex img {
          width: 100%;
      }
    
      section.slide .swiper-slide {
        height: auto;
        background-size: cover !important;
      }
      
      section.slide .info h1 {
        font-size: 20px;
      }
      
      section.slide a.btn {
        padding: 5px 20px;
        margin-top: 20px;
        font-size: 14px;
        margin-bottom: 20px;
      }
      
      section {
        margin-bottom: 2px;
      }
    
      section.news-home h3 {
        font-size: 20px;
      }
    
      section.news-home .item {
        padding: 24px 0;
      }
    
      .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 14px !important;
      }
      
      .swiper-slide.swiper-slide-visible.swiper-slide-next {
        width: 70% !important;
      }
    
      .swiper-slide.swiper-slide-visible {
        width: 15% !important;
      }
    
      section.slide-service h3 {
        font-size: 24px;
      }
    
      section.blogs {
        padding: 5px 0;
      }
    
      .blog-item-hlight h3, .blog-item h3 {
        padding: 10px 0;
      }
    
      .blog-item {
        margin-top: 24px;
      }
    
      .blog-item img {
        width: 300px;
        object-fit: contain;
      }
}
