* {
  --color-and-background: #282727;
  --background-top: #3d3c3c;
  --color-desciption: #4c4949;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

section {
  margin-bottom: 10px;
}

section.slide {
    position: relative;
}

.container-fluid, .container-fluid .row, .container-fluid  .row>*  {
  padding: 0;
  margin: 0;
}

section.slide .swiper-slide {
  background-size: cover !important;
  height: 100vh;
}

section.slide .info {
  max-width: 622px;
  margin-top: 20%;
}

section.slide .info h1 {
  font-size: 30px;
  color: #ffff;
}

section.slide .info h1 {
  font-size: 30px;
  color: #ffff;
  font-weight: 700;
  text-transform: uppercase;
}

section.slide a.btn {
  background: #ffff;
  padding: 10px 32px;
  margin-top: 20px;
  font-size: 16px;
}

.swiper-pagination-bullet {
  background: #4c4949 !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ffff !important;
}

section.news-home .item {
  max-width: 300px;
  margin: auto;
}

section.news-home {
  background: var(--color-and-background);
}

section.news-home h3 {
  color: #ffff;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

section.news-home p {
  color: #fff;
  font-size: 13px;
  margin-bottom: 26px;
}

section.news-home a {
  color: #fff;
  font-size: 16px;
}

section.news-home a i {
  margin-left: 7px;
  transform: translateY(2px);
}

section.slide-service .swiper-slide img {
  height: 425px;
  width: 100% !important;
  object-fit: cover;
}

.swiper-slide.swiper-slide-visible {
  width: 20% !important;
  transform: none !important;
}

.swiper-slide.swiper-slide-visible h3 {
  display: none;
}

.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top {
  transform: none !important;
}
.swiper-slide.swiper-slide-visible.swiper-slide-next {
  width: 60% !important;
}

.swiper-slide.swiper-slide-visible.swiper-slide-next h3 {
  display: block;
}

/* .swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right {
  background: rgb(0 0 0 / 78%);
} */

.swiper-button-prev, .swiper-button-next {
  color: #fff !important;
}

section.slide-service h3 {
  position: absolute;
  bottom: -7px;
  left: 0;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  width: 100%;
  background: rgba(0,0,0,.6);
  padding: 10px 38px;
}

iframe {
  width: 100%;
}

section.blogs {
  padding: 55px 0;
}

.blog-item-hlight h3 {
  font-size: 16px;
  color: #282727;
  text-transform: uppercase;
}

.blog-item-hlight h3, .blog-item h3 {
  font-size: 16px;
  color: #282727;
  text-transform: uppercase;
  padding: 24px 0;
  margin-bottom: 0;
}

.blog-item-hlight p, .blog-item p {
  font-size: 13px;
  color: #282727;
}

.blog-item {
  margin-bottom: 24px;
}

.blog-item a {
  display: flex;
}

.blog-item a div {
  max-width: 313px;
  margin-left: 24px;
}

.blog-item a div h3 {
  padding: 12px 0;
}

nav.nav-breadcrumb {
  padding-top: 30px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 20px;
}

nav.nav-breadcrumb a {
  font-size: 14px;
  color: #75797c;
}

nav.nav-breadcrumb li {
  font-size: 14px;
}

.about h1 {
  font-size: 22px;
  text-transform: uppercase;
}

.about p {
  font-size: 14px;
}

.about .description img {
  max-width: 666px;
  margin: auto;
  display: block;
  padding: 22px 0;
}

.box-right .blog img {
  width: 100%;
}

.box-right label {
  font-size: 18px;
  text-transform: uppercase;
  background: #282727;
  color: #ffff;
  width: 100%;
  padding: 8px;
  text-align: center;
}

.box-right {
  margin-bottom: 30px;
}

.blog h3 {
  font-size: 18px;
  color: #282727;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 18px;
}

.blog p {
  font-size: 14px;
  color: #4c4949;
}

.mr-auto {
  margin: auto;
}

.blog.news img {
  margin-right: 18px;
}

.blog.news {
  margin-bottom: 16px;
}

.dropdown-menu {
  background: var(--color-and-background);
}

.dropdown-menu li a:hover {
  color: #01080e !important;
}

@media (max-width: 767px) {
  .order-1 {
    order: 1;
  }

  .about .description img {
    width: 100%;
  }

  .about .description {
    margin-bottom: 30px;
  }

  a.blog.news.d-flex {
    display: block !important;
  }

  a.blog.news.d-flex img {
      width: 100%;
  }

  section.slide .swiper-slide {
    height: auto;
    background-size: cover !important;
  }
  
  section.slide .info h1 {
    font-size: 20px;
  }
  
  section.slide a.btn {
    padding: 5px 20px;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  section {
    margin-bottom: 2px;
  }

  section.news-home h3 {
    font-size: 20px;
  }

  section.news-home .item {
    padding: 24px 0;
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 14px !important;
  }
  
  .swiper-slide.swiper-slide-visible.swiper-slide-next {
    width: 70% !important;
  }

  .swiper-slide.swiper-slide-visible {
    width: 15% !important;
  }

  section.slide-service h3 {
    font-size: 24px;
  }

  section.blogs {
    padding: 5px 0;
  }

  .blog-item-hlight h3, .blog-item h3 {
    padding: 10px 0;
  }

  .blog-item {
    margin-top: 24px;
  }

  .blog-item img {
    width: 100px;
    object-fit: contain;
  }
}
